@import "base.styl"

:global
    html,body
        overflow hidden
        -webkit-font-smoothing antialiased

    body
        margin 0
        padding 0
        font-family 'Raleway', sans-serif
        background $primary-color

    a,a:hover
        text-decoration none

    h1, h2, h3
        margin-top 0

    p
        font-size 16px